<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Registro de Libros</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- CSS personalizado -->
    <link rel='stylesheet' type='text/css' media='screen' href='../asset/css/global.css'>
    
    <!-- Bootstrap CSS -->
    <link href='../asset/library/node_modules/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet'>
    
    <!-- Bootstrap JS -->
    <script src='../asset/library/node_modules/bootstrap/dist/js/bootstrap.min.js'></script>

    <!-- SweetAlert2 -->
    <script src='../asset/library/node_modules/sweetalert2/dist/sweetalert2.all.min.js'></script>

    <!-- JS personalizado -->
    <script src='../js/Libro.js'></script>

    <!-- JS de jQuery -->
    <script src='../asset/library/node_modules/jquery/dist/jquery.min.js'></script>
</head>

<body>
    <div class="content-wrapper">
        <div class="container mt-4">
            <div class="text-center mb-4">
                <h1>Registro de Libros</h1>
            </div>

            <!-- Formulario de ingreso de datos -->
            <form>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <input type="hidden" id="id">
                        <label for="codigo" class="form-label">Código:</label>
                        <input type="text" class="form-control" id="codigo" aria-label="Digitar código del libro" required>
                    </div>
                    <div class="col-md-6">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" aria-label="Nombre del libro" required>
                    </div>
                </div>

                <!-- Botones de acción -->
                <div class="text-center">
                    <button type="button" class="btn btn-primary" id="save" onclick="save()">Guardar</button>
                </div>
            </form>

            <!-- Tabla de datos con fondo personalizado -->
            <div class="mt-5 p-4 bg-light shadow-sm rounded">
                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        <!-- Aquí se mostrarán los datos -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>
<script>
    // Al cargar la página, se ejecuta la función para mostrar los datos
    loadData();
</script>
